bin/
externalLibs/jchart2d-3.2.2/3rdpartylicenses.txt
externalLibs/jchart2d-3.2.2/LICENSE-apache-xmlgraphics-commons
externalLibs/jchart2d-3.2.2/NOTICE-apache-xmlgraphics-commons
externalLibs/jchart2d-3.2.2/jchart2d-3.2.2.jar
externalLibs/jchart2d-3.2.2/jide-oss-2.9.7.jar
externalLibs/jchart2d-3.2.2/lgpl.txt
externalLibs/jchart2d-3.2.2/xmlgraphics-commons-1.3.1.jar
*.txt